.px-10 {
    padding-left: 40px;
    padding-right: 40px;
}

.responsive-btn-group-wrapper {
    gap: 0;
}

.responsive-btn {
    border-radius: 0 !important;
}

.responsive-btn-group-wrapper .responsive-btn:first-child {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
}

.responsive-btn-group-wrapper .responsive-btn:last-child {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

.form-label {
    margin-right: 10px;
    width: 150px;
}

#controlButtons .btn.active {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}
#controlButtons .btn.active.btn-outline-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
#controlButtons .btn.active.btn-outline-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.table-header-colored  th {
    background-color: #0d6efd !important;
    color: white !important;
    font-weight: 600;
}

@media (max-width: 767.98px) {
    .responsive-btn-group-wrapper {
        flex-direction: column;
        gap: 8px;
    }

    .responsive-btn {
        border-radius: 0.375rem !important;
    }
}
